/* CSS variables defined for light and dark themes */
:root {
  --color-background: var(--vt-c-white);
  --color-text: var(--vt-c-text-light-1);
}

.dark-theme {
  --color-background: var(--vt-c-black);
  --color-text: var(--vt-c-white);
}

body {
  background: var(--color-background);
  color: var(--color-text);
  transition: background 0.3s, color 0.3s;
}
